/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: #f7f7f7;
  font-family: 'Quicksand', sans-serif;
}

/* ------------------------------------------- */
/*                   BODY                      */
/* ------------------------------------------- */
body {
  margin: 0 auto;
  margin: 20px;
  padding: 0;
}

/* ------------------------------------------- */
/*                   HEADER                    */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*                   MAIN                      */
/* ------------------------------------------- */

main {
  display: grid;
  grid-template-areas:
    'cats   jokes'
    'cats   like';

  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: minmax(35vh, auto);
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 20px;

  width: 80vw;
  /* margin: 0 auto; */
  position: relative;
}

#cat-images {
  grid-area: cats;
  background-color: #244b5b70;
  text-align: center;
}

#cat-images img {
  width: 100%;
  height: auto; /* Has to be a size that the window will not scale */
}

/* ------ JOKES ------- */

#jokes {
  grid-area: jokes;
  background-color: #98dffb70;
  font-family: monospace;
}

#jokes #joke {
  font-weight: normal;
}

#jokes #punchline {
  font-weight: 700;
  font-style: italic;
}

#jokes #id {
  color: #22739370;
  font-weight: normal;
}

/* ------ FAVO LIST ------- */

#favourites-list {
  grid-area: like;
  background-color: #98dffb70;
}

#favourites-list h2 {
  margin-top: 5px;
}

#favourites-list #likeButton {
  font-size: 4rem;
  background: none;
  border: none;
  box-shadow: 3px 4px 6px 0px #17161694;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
}

#favourites-list #likeButton:active {
  transform: translateY(5px);
}

#favourites-list #likeButton:focus {
  outline: 0;
}

#favourites-list #fav-items div {
  color: red;
}

#favourites-list #fav-items div:hover {
  color: green;
}

/* ------- FAVO ITEM - DETAIL PAGE ------- */

main > #fav-item-detail {
  grid-area: cats;
  position: absolute;

  opacity: 0;
  background-color: #fffffff5;
  text-align: center;
  width: 80vw;
  transition: 0.2s;
}

main > #fav-item-detail img {
  width: 50%;
  height: auto;
}

main > #fav-item-detail .disappear-button {
  position: absolute;
  z-index: 1;
  justify-self: right;
  margin: 0.5em;
  font-size: 1.3rem;
  cursor: pointer;
}

/* ------------------------------------------- */
/*                   FOOTER                    */
/* ------------------------------------------- */
footer {
  background-color: #767c7f1d;
  font-size: 0.8rem;
}

footer p a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  font-style: italic;
}

footer p a:hover {
  color: rgb(34, 34, 147);
}
