/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: #f7f7f7;
  font-family: 'Quicksand', sans-serif;
}

/* ------------------------------------------- */
/*                   BODY                      */
/* ------------------------------------------- */
body {
  margin: 0 auto;
  margin: 20px;
  padding: 0;
  overflow-y: hidden;
}

/* ------------------------------------------- */
/*                   HEADER                    */
/* ------------------------------------------- */

header {
  margin: 0 auto;
  text-align: center;
}

header #reloadBtn {
  background-color: #1f1b1b;
  border: none;
  color: white;
  padding: 8px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.1s;
  width: 150px;
  margin: 10px;
}

header #reloadBtn:hover {
  background-color: #1f1b1b69;
  cursor: pointer;
}

header #reloadBtn:focus {
  outline: none;
}

/* ------------------------------------------- */
/*                   MAIN                      */
/* ------------------------------------------- */

main {
  display: grid;
  grid-template-areas:
    'cats   jokes'
    'cats   like';

  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: minmax(35vh, auto);
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 20px;

  width: 80vw;
  margin: 0 auto;
  position: relative;
}

/* ------ CATS ------- */

#cat-images {
  grid-area: cats;
  background-color: #244b5b70;
  text-align: center;
}

#cat-images img {
  width: 100%;
  height: auto; /* Has to be a size that the window will not scale */
}

/* ------ JOKES ------- */

#jokes {
  grid-area: jokes;
  background-color: #98dffb70;
  font-family: monospace;
}

#jokes #joke {
  font-weight: normal;
}

#jokes #punchline {
  font-weight: 700;
  font-style: italic;
}

#jokes #id {
  color: #22739370;
  font-weight: normal;
}

/* ------ FAVOURITES LIST ------- */

#favourites-list {
  grid-area: like;
  background-color: #98dffb70;
}

#favourites-list h2 {
  margin-top: 5px;
}

#favourites-list #likeBtn {
  font-size: 4rem;
  background: none;
  border: none;
  box-shadow: 3px 4px 6px 0px #17161694;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
}

#favourites-list #likeBtn:hover {
  box-shadow: 3px 4px 6px 0px #8a101094;
}

#favourites-list #likeBtn:active {
  transform: translateY(5px);
  box-shadow: 3px 4px 6px 0px #8a101094;
}

#favourites-list #likeBtn:focus {
  outline: 0;
}

/* #favourites-list #fav-items .fav-item {
  color: rgb(0, 0, 0);
  background-color: rgb(213, 213, 213);
  transition: 0.2s;
}

#favourites-list #fav-items .fav-item:hover {
  font-weight: 700;
  color: crimson;
  cursor: pointer;
} */

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #98dffb70;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98dffb70;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56cfff;
}

/* ------- FAVO ITEM - DETAIL PAGE ------- */

#show {
  visibility: visible;
}

#hide {
  visibility: hidden;
}

.fav-item-detail {
  grid-area: cats;
  position: absolute;

  visibility: hidden;
  background-color: #fffffff5;
  text-align: center;
  width: 80vw;
  height: 73vh;
  transition: 0.2s;
}

.fav-item-detail .disappearBtn {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 0.5em;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: rgb(65, 65, 65);
  width: 30px;
  height: 30px;
  padding: 0;
  color: white;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.fav-item-detail .disappearBtn:hover {
  background-color: black;
}

.fav-item-detail ol {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
}

.fav-item-detail ol li {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  /* grid-template-columns: 30vw 30vw 20vw; */
  grid-template-rows: 100px auto;
  align-items: center;
  transition: background 0.1s;
}

.fav-item-detail ol li:nth-child(even) {
  background: #e6e6e6;
}

.fav-item-detail ol li:hover {
  background: rgba(169, 169, 169, 0.119);
}

.fav-item-detail ol li img {
  width: 100px;
  height: auto;
}

.fav-item-detail ol li p {
  justify-self: left;
  text-align: left;
  margin: 0;
  font-size: 0.8rem;
}

.fav-item-detail ol li p:nth-child(2) {
  font-weight: bold;
  margin-top: 10px;
}

.fav-item-detail ol li .deleteBtn {
  background-color: #c40000;
  border: none;
  color: white;
  padding: 8px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.1s;
  width: 100px;
}

.fav-item-detail ol li .deleteBtn:focus {
  outline: 0;
}

.fav-item-detail ol li .deleteBtn:hover {
  cursor: pointer;
  background-color: #820202;
}

/* ------------------------------------------- */
/*                   FOOTER                    */
/* ------------------------------------------- */
footer {
  background-color: #767c7f1d;
  font-size: 0.8rem;
  text-align: center;
}

footer p a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  font-style: italic;
}

footer p a:hover {
  color: rgb(34, 34, 147);
}

/* loader while fetching data */
/* .loaderDiv {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loaderDiv:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loaderDiv 1.2s linear infinite;
}
@keyframes loaderDiv {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.feedback-like {
  color: red;
  font-weight: bold;
  animation: fadeOut 1.5s ease-in-out;
  position: absolute;
  z-index: 2;
  margin-top: 50px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
