/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: #f7f7f7;
  /* background: #202026; */
  --font-headers: 'Quicksand', sans-serif;
  --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: var(--font-headers);
}

/* ------------------------------------------- */
/*                   BODY                      */
/* ------------------------------------------- */
body {
  margin: 0 auto;
  margin: 20px;
  padding: 0;
  overflow-y: hidden;
  /* color: white; */
}

/* ------------------------------------------- */
/*                   HEADER                    */
/* ------------------------------------------- */

header {
  margin: 0 auto;
  text-align: center;
}

header h1 {
  font-weight: 100;
}

/* ------------------------------------------- */
/*                   MAIN                      */
/* ------------------------------------------- */

main {
  display: grid;
  grid-template-areas:
    'cats   jokes'
    'button   like';

  grid-template-columns: 1.5fr 1fr;
  grid-auto-rows: minmax(35vh, auto);
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 20px;

  width: 80vw;
  margin: 0 auto;
  position: relative;
}

/* ------ CATS ------- */

#cat-images {
  grid-area: cats;
  /* background-color: #244b5b70; */
  text-align: center;
}

#cat-images img {
  width: 100%;
  height: auto; /* Has to be a size that the window will not scale */
  max-height: 35vh;
  border-radius: 5px;
}

#cat-images img[alt] {
  color: rgba(0, 0, 0, 0.339);
}

/* ------ JOKES ------- */

#jokes {
  grid-area: jokes;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#jokes #joke {
  font-weight: normal;
}

#jokes #punchline {
  font-weight: 700;
  font-style: italic;
}

#jokes #id {
  color: #22739370;
  font-weight: normal;
}

/* ------ FAVOURITES LIST ------- */

#like-area {
  grid-area: like;
  padding: 5px;
  border: 1px solid crimson;
  border-radius: 5px;
}

#like-area h2 {
  margin-top: 5px;
  transition: 0.2s;
}

#like-area h2:hover ~ #likeBtn {
  box-shadow: 0px 0px 9px 3px #b7050594;
}

#like-area #checkFavoBtn {
  display: block;
  background-color: #1f1b1b;
  border: none;
  color: white;
  padding: 8px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.1s;
  width: 150px;
  margin: 10px;
  font-family: var(--font-body);
}

#like-area #checkFavoBtn:hover {
  background-color: #1f1b1b69;
  cursor: pointer;
}

#like-area #checkFavoBtn:focus {
  outline: none;
}

/* #like-area #likeBtn {
  font-size: 2rem;
  background: none;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
} */

#like-area #likeBtn {
  font-size: 2rem;
  background: none;
  border: 3px solid crimson;
  background: #77889957;
  /* width: 85px; */
  width: 3em;
  height: 1.8em;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.1s;
  animation: glow 10000ms infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 -5px #b7050594;
  }
  40% {
    box-shadow: 0 0 20px #b7050594;
  }
  60% {
    box-shadow: 0 0 20px #b7050594;
  }
  100% {
    box-shadow: 0 0 -5px #b7050594;
  }
}

#like-area #likeBtn:hover {
  /* transform: scale(1.5); */
  transform: translateY(-5px);
  background: #778899b7;
  animation: none;
}

#like-area #likeBtn:active {
  /* transform: scale(0.7); */
  transform: translateY(5px);
}

#like-area #likeBtn:focus {
  outline: 0;
}

.feedback-like {
  position: absolute;
  z-index: 2;
  margin-top: 50px;
  margin: 0 auto;
  color: #fa3e31;
  font-weight: bold;
  font-size: 2rem;
  animation: fadeOut 1.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* ------ Another combo button ------- */

#comboBtn {
  grid-area: button;
  justify-self: center;
  align-self: center;
  /* width: 150px;
  height: 38px; */
  padding: 8px 10px;

  background-color: #372f2f;
  border: none;
  color: white;
  box-shadow: 0px 0px 9px 3px #544f4f94;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 5px;
  transition: background-color 0.1s;
  font-family: var(--font-body);
}

#comboBtn:hover {
  background-color: #1f1b1b69;
  cursor: pointer;
}

#comboBtn:focus {
  outline: none;
}

/* ------- FAVOURITES ------- */

#show {
  visibility: visible;
}

#hide {
  visibility: hidden;
}

.favourites {
  grid-area: cats;
  position: absolute;

  visibility: hidden;
  background-color: #fffffff5;
  text-align: center;
  width: 80vw;
  height: 73vh;
  /* transition: 0.2s; */
}

.favourites .disappearBtn {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 0.5em;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: rgb(65, 65, 65);
  width: 30px;
  height: 30px;
  padding: 0;
  color: white;
  border-radius: 50%;
  transition: background-color 0.2s;
  font-family: var(--font-body);
}

.favourites .disappearBtn:hover {
  background-color: black;
}

/* Add button */
.favourites .checkBtn {
  display: block;
  background: chartreuse;
}

.favourites .checkBtn:hover {
}

.favourites .checkBtn:focus {
}

.favourites .delete-all-btn {
  background-color: #c40000;
  border: none;
  color: white;
  padding: 8px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.1s;
  width: 150px;
  margin: 10px;
  font-family: var(--font-body);
}

.favourites .delete-all-btn:hover {
  background-color: #820202;
  cursor: pointer;
}

.favourites .delete-all-btn:focus {
  outline: none;
}

.favourites ol {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
}

.emptyStateShow {
  visibility: visible;
}

.emptyStateHide {
  visibility: hidden;
}

.favourites ol li {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  /* grid-template-columns: 30vw 30vw 20vw; */
  grid-template-rows: 100px auto;
  align-items: center;
  transition: background 0.1s;
}

.favourites ol li:nth-child(even) {
  background: #e6e6e6;
}

.favourites ol li:hover {
  background: rgba(169, 169, 169, 0.119);
}

.favourites ol li img {
  width: 100px;
  height: 100px;
}

.favourites ol li p {
  justify-self: left;
  text-align: left;
  margin: 0;
  font-size: 0.8rem;
}

.favourites ol li p:nth-child(2) {
  font-weight: bold;
  margin-top: 10px;
}

.favourites ol li div:nth-child(3) {
  margin: 0 auto;
}

.favourites ol li .deleteBtn,
.favourites ol li .checkBtn {
  padding: 5px 8px;
  margin: 0;
  margin: 8px;
  width: 68px;
  font-family: var(--font-body);
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.1s;
}

.favourites ol li .deleteBtn {
  background-color: #c40000;
}

.favourites ol li .checkBtn {
  background-color: #12a83a;
}

.favourites ol li .deleteBtn:focus,
.favourites ol li .checkBtn:focus {
  outline: 0;
}

.favourites ol li .deleteBtn:hover {
  cursor: pointer;
  background-color: #820202;
}

.favourites ol li .checkBtn:hover {
  cursor: pointer;
  background-color: #02825e;
}

/* ------- FAVOURITE ITEM (DETAIL PAGE) ------- */

#fav-item {
  grid-area: cats;
  background: #f7f7f7;
  position: absolute;
  z-index: 100;
  width: 80vw;
  height: 73vh;
  text-align: center;
  box-shadow: 0px 0px 9px 3px #b7050594;
  visibility: hidden;
}

/* ------------------------------------------- */
/*                   FOOTER                    */
/* ------------------------------------------- */
footer {
  background-color: #767c7f0d;
  font-size: 0.8rem;
  text-align: center;
  padding: 5px 0px;
  margin-top: 10px;
}

footer p {
  margin: 3px 0px;
}

footer p a {
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  font-style: italic;
}

footer p a:hover {
  color: rgb(34, 34, 147);
}

/* --/* ----- LOADER ---/* - */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #98dffb70;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98dffb70;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56cfff;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 10;
}
.loader:after {
  content: ' ';
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(28, 27, 27);
  border-color: rgb(28, 27, 27) transparent rgb(28, 27, 27) transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-hide {
  display: none;
}

/* --/* ----- SCROLLBAR ---/* - */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #98dffb70;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98dffb70;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #56cfff;
}
